/*!
 *
 * GeoCanViz viewer / Visionneuse GéoCanViz
 * gcviz.github.io/gcviz/License-eng.txt / gcviz.github.io/gcviz/Licence-fra.txt
 *
 * Version: @gcviz.version@
 *
 */
@import "includes/gcviz-mixin";

// this is use to override img in theme-min.css (character 135450) because it introduces
// a shift in dynamic web service image
div.gcviz-container img {
	margin-left: 0px!important;
}

// responsive grid (http://viget.com/inspire/building-a-nested-responsive-grid-with-sass-compass)
.row {
	#{enumerate(".span", 1, $cols, "")} {
		float: left;
		margin-left: $gutter;
	}

	@for $i from 1 through $cols {
		.span#{$i} {
			@include cols($i);

			@for $j from 1 through ($i - 1) {
				.span#{$j} {
					@include sub_cols($j, $i);
				}
			}
		}
	}

	> :first-child,
	.row > :first-child {
		margin-left: 0;
	}
}

// set text unselectable (solve problem that select graphic text when drawing)
text, .unselectable {
   @include unselectable;
}

svg {
	margin-bottom: -10px;
}

.gcviz-section {
	padding: (1.5 * $rembase) + rem;
	background: #FFF;
}

.gcviz {
	position: relative;
}

.gcviz-image-button {
  background: #666666!important;
  border: 2px solid #666666!important;
  border-radius: 6px!important;
  -webkit-border-radius: 6px!important;
  -moz-border-radius: 6px!important;
  padding: 0px 5px!important;
  float: left!important;
  width: auto!important;
  height:30px!important;
  @include app-text(1.1, normal, $white);
  display:block!important;
  cursor: pointer;
  
  &:hover {
    border: 2px solid #ff6600!important;
    background: #000000!important;
  }
}
  
.gcviz-button-icon {
  padding-left: 0px!important;
  width:30px!important;
  height:30px!important;
}

.gcviz-button-text {
  padding-left: 10px!important;
  position: relative;
  top: -8px;
}

.gcviz-tooltip {
	.ui-tooltip-content {
		@include app-text(1.1, normal, $white);
	}
}

.gcviz-message-wcag {
	@include app-text(1.1, normal, black);
	display: inline-block;
	margin-left: (1 * $rembase) + rem;
}

.gcviz-input-wcag {
	width: (5.5 * $rembase) + rem!important;
	margin-left: 0rem!important;
}

.gcviz-label-wcag {
	margin-top: (1 * $rembase) + rem!important;
}

.gcviz-hidden {
	display: none!important;
}

/* hide the input type */
input[type="file"] {
	opacity: 0;
	position: absolute;
	top:	-1000rem;
	left: -1000rem;
	margin: 0 !important;
	height: 0rem;
	width: 0rem;
	padding: 0rem;
	border-width: 0rem;
	min-width: 0rem;
	min-height: 0rem;
}

/* full screen */
.gcviz-sectionfs {
	position: fixed;
	z-index: 750;
	top: 0;
	left: 0;
}

.gcviz-float-left {
  float: left;
}

.gcviz-inline {
  display: inline!important;
}

.gcviz-inlineblock {
  display: inline-block!important;
}

.gcviz-label {
	display: inline-block;
	margin-left: (1 * $rembase) + rem;
	margin-right: (0.5 * $rembase) + rem;
}

.gcviz-loading {
	position: absolute;
	right: 10%;
	top: 45%;
	padding: 0!important;
	z-index: -1;
	width: 80%;
	height: (3 * $rembase) + rem;
}

.gcviz-loadingLabel {
	position: absolute;
	left: 50%;
	top:  (0.7 * $rembase) + rem;
	@include app-text(1.2, normal, $white);
	text-align: middle;
}

.gcviz-appText {
  @include app-text;
}

.gcviz-verticalAlignTop {
  vertical-align: top;
}

.gcviz-verticalAlignMiddle {
  vertical-align: middle;
}