/*!
 *
 * GeoCanViz viewer / Visionneuse GéoCanViz
 * gcviz.github.io/gcviz/License-eng.txt / gcviz.github.io/gcviz/Licence-fra.txt
 *
 * Version: @gcviz.version@
 *
 */
@import "includes/gcviz-mixin";

// responsive grid (http://viget.com/inspire/building-a-nested-responsive-grid-with-sass-compass)
.row {
	#{enumerate('.span', 1, $cols, '')} {
		float: left;
		margin-left: $gutter;
	}

	@for $i from 1 through $cols {
		.span#{$i} {
			@include cols($i);

			@for $j from 1 through ($i - 1) {
				.span#{$j} {
					@include sub_cols($j, $i);
				}
			}
		}
	}

	> :first-child,
	.row > :first-child {
		margin-left: 0;
	}
}

.gcviz-section {
	padding: (1.5 * $rembase) + rem;
	background: #FFF;
}

.gcviz-button {
	cursor: pointer;
	background: transparent;
	border: none;
	padding: (0.4 * $rembase) + rem;
	margin: (0.3 * $rembase) + rem;
	height: (3 * $rembase) + rem;
	width: (3 * $rembase) + rem;
  
	.gcviz-img-button {
		margin: 0 !important;
		height: (2.2 * $rembase) + rem;
		width: (2.2 * $rembase) + rem;
	}
	
	&:disabled {
		@include button-gradiant-disable;
		@include content-border-radius;
		cursor: none;
	}
	
	&:hover:enabled {
		@include button-gradiant-hover;
		@include content-border-radius;
	}
  
	&:focus {
		@include button-gradiant-hover;
		@include content-border-radius;
	}
  
	&:active:enabled {
		@include button-gradiant-active;
		@include content-border-radius;
	}
}

.gcviz {
	position: relative;
}

.gcviz-tooltip {
	.ui-tooltip-content {
		@include app-text(1.2);
	}
}

.gcviz-hidden {
	display: none;
}

/* fullc screen */
.gcviz-sectionfs {
	position: fixed;
	z-index: 1200;
	top: 0;
	left: 0;
}