.gcviz-foot {
  width: 100%;
  height: 2.5rem;
  text-align: left;
  background-repeat: repeat-x;
  background-image: url("images/footGreybar.png");
}
.gcviz-foot .gcviz-foot-coords-values {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 12px !important;
  font-size: 0.75rem !important;
  color: black;
  margin-top: 0.9375rem;
  position: relative;
  right: -4.375rem;
  top: -0.3125rem;
  float: right;
  width: 17.5rem;
}
.gcviz-foot .gcviz-foot-arrow {
  cursor: default !important;
  background: url("images/spriteButton.png") -1122px -3px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
  float: right;
  margin-right: 0.625rem;
  -webkit-transform: rotate(90deg);
  /* Safari & Chrome */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -ms-transform: rotate(90deg);
  /* Internet Explorer */
  -o-transform: rotate(90deg);
  /* Opera */
}
.gcviz-foot .gcviz-foot-arrow:hover {
  background-position: -1122px -39px;
}
.gcviz-foot .gcviz-foot-arrow:focus {
  background-position: -1122px -39px;
}
.gcviz-foot .gcviz-foot-arrow:disabled {
  background-position: -1122px -75px;
  cursor: none;
}

.gcviz-foot-logo {
  float: left;
  margin-left: 0.3125rem;
  margin-top: 0.15625rem;
}
