.gcviz-head {
  width: 100%;
  height: 2.5rem;
  text-align: left;
  background-repeat: repeat-x;
  background-image: url("images/headBlackbar.png");
}

.gcviz-head-btn {
  float: right;
  margin-right: 0.625rem;
}

.gcviz-head-title {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  font-size: 16px !important;
  font-size: 1rem !important;
  color: white;
  position: relative;
  top: 0.625rem;
  left: 0.3125rem;
  display: inline-block;
}

.gcviz-head-help {
  background: url("images/spriteButton.png") -110px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-head-help:hover {
  background-position: -110px -38px;
}
.gcviz-head-help:focus {
  background-position: -110px -38px;
}
.gcviz-head-help:disabled {
  background-position: -110px -74px;
  cursor: none;
}

.gcviz-head-about {
  background: url("images/spriteButton.png") -145px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-head-about:hover {
  background-position: -145px -38px;
}
.gcviz-head-about:focus {
  background-position: -145px -38px;
}
.gcviz-head-about:disabled {
  background-position: -145px -74px;
  cursor: none;
}

.gcviz-head-inset {
  background: url("images/spriteButton.png") -40px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-head-inset:hover {
  background-position: -40px -38px;
}
.gcviz-head-inset:focus {
  background-position: -40px -38px;
}
.gcviz-head-inset:disabled {
  background-position: -40px -74px;
  cursor: none;
}

.gcviz-head-link {
  background: url("images/spriteButton.png") -75px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-head-link:hover {
  background-position: -75px -38px;
}
.gcviz-head-link:focus {
  background-position: -75px -38px;
}
.gcviz-head-link:disabled {
  background-position: -75px -74px;
  cursor: none;
}

.gcviz-head-print {
  background: url("images/spriteButton.png") -3px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-head-print:hover {
  background-position: -3px -38px;
}
.gcviz-head-print:focus {
  background-position: -3px -38px;
}
.gcviz-head-print:disabled {
  background-position: -3px -74px;
  cursor: none;
}

.gcviz-head-fs {
  background: url("images/spriteButton.png") -219px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-head-fs:hover {
  background-position: -219px -38px;
}
.gcviz-head-fs:focus {
  background-position: -219px -38px;
}
.gcviz-head-fs:disabled {
  background-position: -219px -74px;
  cursor: none;
}

.gcviz-head-reg {
  background: url("images/spriteButton.png") -255px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-head-reg:hover {
  background-position: -255px -38px;
}
.gcviz-head-reg:focus {
  background-position: -255px -38px;
}
.gcviz-head-reg:disabled {
  background-position: -255px -74px;
  cursor: none;
}
