.gcviz-inset .gcviz-img-inset {
  clear: both;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.gcviz-inset {
  position: absolute;
  z-index: 500;
  margin: 0 auto;
  overflow: hidden;
  border-width: 0.09375rem;
  border-style: solid;
  border-color: #d8d8d8;
  border-radius: 0.125rem;
}
.gcviz-inset button {
  float: right;
  margin: 0.07813rem 0.25rem 0 0;
}
.gcviz-inset h2 {
  padding: 0 0 0 0.25rem;
  color: #000;
  margin: 0;
  display: inline-block;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 12px !important;
  font-size: 0.75rem !important;
  color: black;
}
.gcviz-inset .gcviz-vid-inset {
  margin: 0;
}
.gcviz-inset .gcviz-text-inset {
  overflow: auto;
}
.gcviz-inset .gcviz-frame-inset {
  width: 100%;
  border: 0;
}

.gcviz-inset-margin {
  margin: -0.125rem;
}

.gcviz-inset-hidden {
  visibility: hidden;
}

.gcviz-inset-button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0rem;
  height: 1.125rem;
  width: 1.125rem;
}
.gcviz-inset-button .gcviz-imginset-button {
  margin: 0 !important;
  height: 1.125rem;
  width: 1.125rem;
}

.gcviz-play-background {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  background-color: gray;
}
.gcviz-play-background button {
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 7.5rem;
  width: 7.5rem;
}
.gcviz-play-background button img {
  margin: 0 !important;
  height: 6.25rem;
  width: 6.25rem;
}

.gcviz-load-open, .gcviz-load-close {
  z-index: 10100;
  height: inherit;
  background-color: #FFF;
  opacity: 0.8;
}

.gcviz-load-open {
  width: 80%;
  position: fixed;
}

.gcviz-load-img {
  margin: auto;
  display: block;
  height: inherit;
}

/* SlidesJS section */
.slidesjs-previous, .slidesjs-next, .slidesjs-play, .slidesjs-stop {
  margin-left: 0.3125rem;
  float: left;
}

#slides {
  display: none;
}
#slides a:link, #slides a:visited {
  color: #333;
}
#slides a:hover, #slides a:active {
  color: #9E2020;
}

.slidesjs-container {
  margin-bottom: 0.3125rem;
}

.slidesjs-slide {
  height: 100%;
}

.slidesjs-pagination {
  margin: 0.125rem 0.3125rem;
  float: right;
  list-style: none;
}
.slidesjs-pagination li {
  float: left;
  margin: 0 0.0625rem;
}
.slidesjs-pagination li a {
  display: block;
  width: 0.8125rem;
  height: 0;
  padding-top: 0.8125rem;
  background-image: url(images/insetPagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}
.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}
.slidesjs-pagination li a.active {
  background-position: 0 -13px;
}

/* styles inset with magnificpopup */
.mp-inset {
  background: white;
  padding: 35px 35px;
  text-align: left;
  max-width: 80%;
  max-height: 80%;
  margin: 40px auto;
  position: relative;
}

.mfp-with-fade .mfp-content,
.mfp-with-fade .mfp-arrow, .mfp-with-fade.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content,
.mfp-with-fade.mfp-ready .mfp-arrow {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing .mfp-content,
.mfp-with-fade.mfp-removing .mfp-arrow, .mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}
