.gcviz-tbcontainer, .gcviz-tbspacer {
  background-color: rgba(100, 100, 100, 0.6);
}

.gcviz-tbholder .gcviz-tbcontent, .gcviz-tbholder .gcviz-tbcontent-leg {
  padding-left: 0.625rem;
  padding-bottom: 0.625rem;
  margin-top: 0rem !important;
  z-index: 101;
  background-color: #fafaf5;
  overflow-x: auto;
}
.gcviz-tbholder .gcviz-tbcontent .dijitTitlePane, .gcviz-tbholder .gcviz-tbcontent-leg .dijitTitlePane {
  margin: 0.3125rem;
}

.gcviz-tbcontainer {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 12px !important;
  font-size: 0.75rem !important;
  color: black;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 0rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  padding-bottom: 0.625rem;
  position: absolute;
  z-index: 100;
  width: 21.25rem;
  right: 0rem;
  top: 2.5rem;
}

.gcviz-tbholder {
  overflow-y: scroll;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gcviz-tbholder .gcviz-tbcontent-leg {
  max-height: 12.5rem;
}

.gcviz-tbspacer {
  height: 0.1875rem;
}

.gcviz-tbseparator {
  display: inline-block;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #e8e8e8;
  height: 1.25rem;
  margin-right: 0.46875rem;
  margin-left: 0.46875rem;
}

@-moz-document url-prefix() {
  .gcviz-tbseparator {
    margin-bottom: -0.78125rem;
  }
}
