.gcviz-data-add {
  background: url("images/spriteButton.png") -939px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-data-add:hover {
  background-position: -939px -38px;
}
.gcviz-data-add:focus {
  background-position: -939px -38px;
}
.gcviz-data-add:disabled {
  background-position: -939px -74px;
  cursor: none;
}

.gcviz-data-del {
  background: url("images/spriteButton.png") -795px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-data-del:hover {
  background-position: -795px -38px;
}
.gcviz-data-del:focus {
  background-position: -795px -38px;
}
.gcviz-data-del:disabled {
  background-position: -795px -74px;
  cursor: none;
}

.gcviz-data-li {
  display: inline-block;
  padding-right: 0.3125rem;
}

.gcviz-data-ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.gcviz-data-item {
  display: table;
}

.gcviz-data-itemchild {
  display: table-cell;
  padding-left: 0.3125rem;
}
