.gcviz-draw-row1 {
  display: table;
}

.gcviz-draw-cholder {
  display: table-cell;
  vertical-align: middle;
}

.gcviz-draw-black {
  background: url("images/spriteButton.png") -289px -14px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.gcviz-draw-black:hover {
  background-position: -289px -50px;
}
.gcviz-draw-black:focus {
  background-position: -289px -50px;
}
.gcviz-draw-black:disabled {
  background-position: -289px -86px;
  cursor: none;
}

.gcviz-draw-blue {
  background: url("images/spriteButton.png") -325px -14px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.gcviz-draw-blue:hover {
  background-position: -325px -50px;
}
.gcviz-draw-blue:focus {
  background-position: -325px -50px;
}
.gcviz-draw-blue:disabled {
  background-position: -325px -86px;
  cursor: none;
}

.gcviz-draw-red {
  background: url("images/spriteButton.png") -398px -14px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.gcviz-draw-red:hover {
  background-position: -398px -50px;
}
.gcviz-draw-red:focus {
  background-position: -398px -50px;
}
.gcviz-draw-red:disabled {
  background-position: -398px -86px;
  cursor: none;
}

.gcviz-draw-green {
  background: url("images/spriteButton.png") -362px -14px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.gcviz-draw-green:hover {
  background-position: -362px -50px;
}
.gcviz-draw-green:focus {
  background-position: -362px -50px;
}
.gcviz-draw-green:disabled {
  background-position: -362px -86px;
  cursor: none;
}

.gcviz-draw-yellow {
  background: url("images/spriteButton.png") -433px -14px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.gcviz-draw-yellow:hover {
  background-position: -433px -50px;
}
.gcviz-draw-yellow:focus {
  background-position: -433px -50px;
}
.gcviz-draw-yellow:disabled {
  background-position: -433px -86px;
  cursor: none;
}

.gcviz-draw-white {
  background: url("images/spriteButton.png") -469px -14px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.gcviz-draw-white:hover {
  background-position: -469px -50px;
}
.gcviz-draw-white:focus {
  background-position: -469px -50px;
}
.gcviz-draw-white:disabled {
  background-position: -469px -86px;
  cursor: none;
}

.gcviz-draw-arrow {
  cursor: default !important;
  width: 0.9375rem !important;
  background: url("images/spriteButton.png") -505px -14px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.gcviz-draw-arrow:hover {
  background-position: -505px -50px;
}
.gcviz-draw-arrow:focus {
  background-position: -505px -50px;
}
.gcviz-draw-arrow:disabled {
  background-position: -505px -86px;
  cursor: none;
}

.gcviz-draw-pickblack {
  background: url("images/spriteButton.png") -289px -85px no-repeat;
}

.gcviz-draw-pickblue {
  background: url("images/spriteButton.png") -325px -85px no-repeat;
}

.gcviz-draw-pickred {
  background: url("images/spriteButton.png") -398px -85px no-repeat;
}

.gcviz-draw-pickgreen {
  background: url("images/spriteButton.png") -362px -85px no-repeat;
}

.gcviz-draw-pickyellow {
  background: url("images/spriteButton.png") -433px -85px no-repeat;
}

.gcviz-draw-pickwhite {
  background: url("images/spriteButton.png") -469px -85px no-repeat;
}

.gcviz-draw-line {
  background: url("images/spriteButton.png") -542px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-line:hover {
  background-position: -542px -38px;
}
.gcviz-draw-line:focus {
  background-position: -542px -38px;
}
.gcviz-draw-line:disabled {
  background-position: -542px -74px;
  cursor: none;
}

.gcviz-draw-text {
  background: url("images/spriteButton.png") -578px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-text:hover {
  background-position: -578px -38px;
}
.gcviz-draw-text:focus {
  background-position: -578px -38px;
}
.gcviz-draw-text:disabled {
  background-position: -578px -74px;
  cursor: none;
}

.gcviz-draw-length {
  background: url("images/spriteButton.png") -614px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-length:hover {
  background-position: -614px -38px;
}
.gcviz-draw-length:focus {
  background-position: -614px -38px;
}
.gcviz-draw-length:disabled {
  background-position: -614px -74px;
  cursor: none;
}

.gcviz-draw-area {
  background: url("images/spriteButton.png") -650px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-area:hover {
  background-position: -650px -38px;
}
.gcviz-draw-area:focus {
  background-position: -650px -38px;
}
.gcviz-draw-area:disabled {
  background-position: -650px -74px;
  cursor: none;
}

.gcviz-draw-del {
  background: url("images/spriteButton.png") -795px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-del:hover {
  background-position: -795px -38px;
}
.gcviz-draw-del:focus {
  background-position: -795px -38px;
}
.gcviz-draw-del:disabled {
  background-position: -795px -74px;
  cursor: none;
}

.gcviz-draw-delsel {
  background: url("images/spriteButton.png") -831px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-delsel:hover {
  background-position: -831px -38px;
}
.gcviz-draw-delsel:focus {
  background-position: -831px -38px;
}
.gcviz-draw-delsel:disabled {
  background-position: -831px -74px;
  cursor: none;
}

.gcviz-draw-undo {
  background: url("images/spriteButton.png") -867px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-undo:hover {
  background-position: -867px -38px;
}
.gcviz-draw-undo:focus {
  background-position: -867px -38px;
}
.gcviz-draw-undo:disabled {
  background-position: -867px -74px;
  cursor: none;
}

.gcviz-draw-redo {
  background: url("images/spriteButton.png") -903px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-redo:hover {
  background-position: -903px -38px;
}
.gcviz-draw-redo:focus {
  background-position: -903px -38px;
}
.gcviz-draw-redo:disabled {
  background-position: -903px -74px;
  cursor: none;
}

.gcviz-draw-imp {
  background: url("images/spriteButton.png") -939px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-imp:hover {
  background-position: -939px -38px;
}
.gcviz-draw-imp:focus {
  background-position: -939px -38px;
}
.gcviz-draw-imp:disabled {
  background-position: -939px -74px;
  cursor: none;
}

.gcviz-draw-exp {
  background: url("images/spriteButton.png") -976px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-draw-exp:hover {
  background-position: -976px -38px;
}
.gcviz-draw-exp:focus {
  background-position: -976px -38px;
}
.gcviz-draw-exp:disabled {
  background-position: -976px -74px;
  cursor: none;
}

.gcviz-select-cursor {
  cursor: crosshair;
}

.gcviz-text-cursor {
  cursor: url(images/drawTextCursor.cur), text;
}

.gcviz-draw-cursor-black {
  cursor: url(images/drawpencilblack.cur), crosshair;
}

.gcviz-draw-cursor-blue {
  cursor: url(images/drawpencilblue.cur), crosshair;
}

.gcviz-draw-cursor-green {
  cursor: url(images/drawpencilgreen.cur), crosshair;
}

.gcviz-draw-cursor-red {
  cursor: url(images/drawpencilred.cur), crosshair;
}

.gcviz-draw-cursor-yellow {
  cursor: url(images/drawpencilyellow.cur), crosshair;
}

.gcviz-draw-cursor-white {
  cursor: url(images/drawpencilwhite.cur), crosshair;
}

.gcviz-draw-cursor-measure {
  cursor: url(images/drawmeasure.cur), crosshair;
}

.gcviz-draw-cursor-erase {
  cursor: url(images/drawerase.cur), crosshair;
}
