.gcviz-nav-max {
  background: url("images/spriteButton.png") -1012px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-nav-max:hover {
  background-position: -1012px -38px;
}
.gcviz-nav-max:focus {
  background-position: -1012px -38px;
}
.gcviz-nav-max:disabled {
  background-position: -1012px -74px;
  cursor: none;
}

.gcviz-nav-pos {
  background: url("images/spriteButton.png") -1049px -2px no-repeat;
  display: inline;
  cursor: pointer;
  border: none;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}
.gcviz-nav-pos:hover {
  background-position: -1049px -38px;
}
.gcviz-nav-pos:focus {
  background-position: -1049px -38px;
}
.gcviz-nav-pos:disabled {
  background-position: -1049px -74px;
  cursor: none;
}

.gcviz-nav-cursor-pos {
  cursor: url(images/navCursor.cur), crosshair;
}

.gcviz-nav-zoom {
  height: 2.5rem;
  margin-top: 0.625rem;
}
.gcviz-nav-zoom .span10 {
  line-height: 2.5rem;
}

.gcviz-nav-tools {
  height: 3.125rem;
}

.gcviz-nav-overview {
  height: 6.875rem;
}
.gcviz-nav-overview .span1 {
  height: 2.5rem;
}

.gcviz-nav-scale .span1 {
  height: 2.5rem;
}

/* Reset some ESRI classes that are being modified by the Map classes */
.esriOverviewMap .ovwContainer .map {
  overflow: hidden;
}

.esriOverviewMap .ovwContainer .map .container {
  position: absolute;
  border: none;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.esriOverviewMap .ovwContainer .map .container .layersDiv {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.esriOverviewMap .ovwContainer .map .container .layersDiv .layerTile {
  position: absolute;
  border: none;
  margin: 0px;
  padding: 0px;
}

.esriOverviewMap .ovwContainer .map .container .container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Change overview highlight of ESRI element */
.ovwHighlight {
  z-index: 999 !important;
  border: solid 3px red !important;
  background-color: transparent;
  position: relative !important;
}

/* End of Reset some ESRI classes that are being modified by the Map classes */
.gcviz-ovtoolcontainer {
  opacity: 1 !important;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: black;
}

.gcviz-overviewMap {
  position: relative !important;
}

.gcviz-overviewMapContent {
  width: 247px !important;
  height: 100px !important;
}

/* Classes from esri.css for scalebar */
.esriScalebar {
  z-index: 30;
  width: 0px;
  height: 20px;
}

.esriScaleLabelDiv {
  position: relative;
  top: -5px;
  width: 100%;
  padding: 2px;
}

.esriScalebarLabel {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 7.5px !important;
  font-size: 0.46875rem !important;
  color: black;
}

.esriScalebarLineLabel {
  position: relative;
}

.esriScalebarFirstNumber {
  left: 45%;
}

.esriScalebarSecondNumber {
  left: 95%;
}

.esriScalebarLine {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 6px;
  border: 2px solid #444444;
}

.esriScalebarMetricLine {
  border-top-style: none;
}

/* End of classes from esri.css for scalebar */
.gcviz-scaleDisplayLabel {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 11px !important;
  font-size: 0.6875rem !important;
  color: black;
  display: block;
}

.gcviz-scaleApprox {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 7.5px !important;
  font-size: 0.46875rem !important;
  color: black;
  margin-top: 0.3125rem;
}
