.gcviz-legendULLayer
{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.gcviz-legendLiLayer
{
    padding-left: 15px;
    background-image: url(../images/arrowbullet.png);
    background-repeat: no-repeat;
}
.gcviz-legendImg
{
    margin: 0px;
    width: 45px;
    height: 40px;
    padding-top: 5px;
    padding-left: 25px;
}  
.gcviz-legendHolderDiv  
{
    display: inline-block;
    padding-right: 5px;
}
.gcviz-legendHolderImgDiv
{
    display: block;
    padding-right: 5px;
}
.gcviz-legendCheck
{
    display: inline-block;
}
.gcviz-legendSlider
{
    display: inline-block;
    width: 50px;
    padding-left: 0;
}
.gcviz-legendSpan
{
    display: inline-block;
    padding-left: 0;
}
.gcviz-legendSymbolDiv
{
    vertical-align: middle;
    padding-left: 15px;
    border: 1px;
}
