@import "gcviz-mixin";

.esriPopup {
	position: absolute;
	z-index: 40;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.esriPopup .esriPopupWrapper {
	box-shadow: 0 0 0.75em #777777;
	-webkit-box-shadow: 0 0 0.75em #777777;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.esriPopup .titlePane {
	background-color: #444444;
	color: #FFFFFF;
	line-height: 20px;
	padding-left: 6px;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	cursor: default;
}

.esriPopup .titleButton.close {
	right: 3px;
	background-position: 0 0;
	width: 12px;
	height: 17px;
}

.esriPopup .titleButton {
	position: absolute;
	top: 2px;
	cursor: pointer;
	background-image: url($img-root + "ui-icons_222222_256x240.png");
	background-position: -96px -128px!important;
}

.esriPopup .sizer {
	position: relative;
	width: 270px;
	z-index: 1;
}

.esriPopup .contentPane {
	position: relative;
	max-height: 300px;
	overflow: auto;
	padding: 10px 6px 6px 10px;
	background-color: #F7F7F7;
	color: #333333;
}

.esriPopup .actionsPane {
	display: none; 
}

.gcviz-wcag-close {
	position: absolute;
	right: 2px;
	z-index: 10;
	margin: 1px;
}
