@import "gcviz-mixin";

.esriPopup {
	position: absolute;
	z-index: 40;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.esriPopup .esriPopupWrapper {
	box-shadow: 0 0 0.75em #777777;
	-webkit-box-shadow: 0 0 0.75em #777777;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.esriPopup .titlePane {
	background-color: #444444;
	color: #FFFFFF;
	line-height: 20px;
	padding-left: 6px;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	cursor: default;
}

.esriPopup .titleButton.close {
	right: 3px;
	background-position: 0 0;
	width: 12px;
	height: 17px;
}

.esriPopup .titleButton {
	position: absolute;
	top: 2px;
	cursor: pointer;
	background-image: url($img-root + "ui-icons_222222_256x240.png");
	background-position: -96px -128px!important;
}

.esriPopup .sizer {
	position: relative;
	width: 300px;
	z-index: 1;
}

.esriPopup .contentPane {
	position: relative;
	max-height: 300px;
	overflow: auto;
	padding: 10px 6px 6px 10px;
	background-color: #F7F7F7;
	color: #333333;
}

.esriPopup .actionsPane {
	display: none; 
}

.esriPopup .outerPointer.left {
	display: block;
	left: 8px;
	margin-top: -8px;
	top: 50%;
}

.esriPopup .outerPointer.right {
	display: block;
	right: 8px;
	margin-top: -8px;
	top: 50%;
}

.esriPopup .pointer, .esriPopup .outerPointer {
	background: #F7F7F7;
	display: none;
	height: 16px;
	position: absolute;
	width: 16px;
	z-index: 0;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	box-shadow: 0 0 0.75em #777777;
	-webkit-box-shadow: 0 0 0.75em #777777;
}

.gcviz-wcag-close {
	position: absolute!important;
	right: 2px!important;
	z-index: 10;
	height: 16px;
	width: 16px!important;
	margin: 2px;
	
	&:hover {
		border: 2px solid $orange-dark!important;
	}
	&:focus {
		border: 2px solid $orange-dark!important;
	}
}