@import "gcviz-mixin";

.gcviz-foot {
	@include app-head-foot;
	background-repeat: repeat-x;
	background-image: url($img-root + "footGreybar.png");
  
  .gcviz-foot-coords-values {
  	@include app-text(1.2, normal, $black);
    margin-top: (1.5 * $rembase) + rem;
    position: relative;
    right: -(7 * $rembase) + rem;
    top: -(0.5 * $rembase) + rem;
    float: right;
    width: (28 * $rembase) + rem;
  }
  
	.gcviz-foot-arrow {
		cursor: default!important;
		@include sprite($img-spritebtn, -1122, -3, 3);
		float: right;
		margin-right:	(1 * $rembase) + rem;
		-webkit-transform: rotate(90deg); /* Safari & Chrome */
		-moz-transform: rotate(90deg); /* Firefox */
		-ms-transform: rotate(90deg); /* Internet Explorer */
		-o-transform: rotate(90deg); /* Opera */
  }
}

.gcviz-foot-logo {
  float: left;
  margin-left: (0.5 * $rembase) + rem;
	margin-top: (0.25 * $rembase) + rem;
}

.gcviz-foot-btn {
	float: left;
	margin-right: (10 * $rembase) + rem;
}

// the header button sprite (need to use background-position because FF is not able to set x and y)
.gcviz-foot-data {
	@include sprite($img-spritebtn, -976, -2);
}