@import "gcviz-mixin";

%arrow {
	cursor: default!important;
	@include sprite($img-spritebtn, -1122, -3, 3);
	@include marg-button;
	float: right;
	margin-right:	-40%;
	margin-top: (0.5 * $rembase) + rem;
	-webkit-transform: rotate(90deg); /* Safari & Chrome */
	-moz-transform: rotate(90deg); /* Firefox */
	-ms-transform: rotate(90deg); /* Internet Explorer */
	-o-transform: rotate(90deg); /* Opera */
}

.gcviz-foot {
	@include app-head-foot;
	background-repeat: repeat-x;
	background-image: url($img-head);

	.gcviz-foot-coords-values {
		@include app-text(1.1, normal, $black);
	}

	.gcviz-foot-coords-label {
		@include app-text(1.1, normal, $black);
		margin-left: (5 * $rembase) + rem;
		display: inline;
		vertical-align: super;
	}

	.gcviz-foor-coords-right {
		margin-left: 2px;
	}
	
	table {
		margin: 0!important;
		display: inline-table!important;
		background-color: transparent!important;
		line-height: 1.5;

		td {
			padding: 0!important;
			border: none!important;
		}
	}
}

@media (max-width: 960px) {
  .gcviz-foot-coords-values {
    display: none;
  }
}

.gcviz-foot-arrow {
	@extend %arrow
}

// the header button sprite (need to use background-position because FF is not able to set x and y)
.gcviz-foot-data {
	@include sprite($img-spritebtn, -1481, -2);
	@include marg-button;
}

.gcviz-foot-logo {
	float: left;
	margin-left: (0.5 * $rembase) + rem;
	margin-top: (0.25 * $rembase) + rem;
}

/* Classes from esri.css for scalebar */
.esriScalebar {
	z-index:30;
	float: right;
	height: 20px;
	margin-top: 15px;
	margin-right: 30px;
}

.esriScalebarLine {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 6px;
	border: 2px solid #444444;
}

.esriScalebarMetricLine {
	border-top-style: none;
}

.esriScalebarRuler {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 3px;
	border: 1px solid #444;
}

.esriScalebarRulerBlock {
	overflow: hidden;
	position: absolute;
	height: 50%;
	background-color: #444;
}

.scaleLabelDiv {
	position: relative;
	width: 100%;
	height: 5px;
}

.esriScalebarLabel {
	@include app-text(0.9);
	position: absolute;
	width: 10%;
	height: 5px;
	top: -1px;
}

.upper_firstpiece {
	top: 0%;
	left: 0%;
	width: 25%;
	display: none;
}

.upper_secondpiece {
	top: 0%;
	left: 50%;
	width: 25%;
	display: none;
}

.lower_firstpiece {
	top: 0%;
	left: 25%;
	width: 25%;
	height: 100%;
}

.lower_secondpiece {
	top: 0%;
	left: 75%;
	width: 30%;
	height: 100%;
}

.esriScalebarLineLabel {
	position: relative;
}

.esriScalebarFirstNumber {
	left: 45%;
}

.esriScalebarSecondNumber {
	left: 85%;
}

/* End of classes from esri.css for scalebar */