@import "gcviz-mixin";

%gcviz-foot-display {
  display: inline;
  float: right;
}

.gcviz-foot {
  @include app-head-foot;
  background-color: #636466;
  background-repeat: repeat-x;
  background-image: url('images/grey_bg.png');
  border-bottom: solid 1px #000000;
  position: relative;
  left: -0.5px;
  
  .gcviz-foot-coords {
    @extend %gcviz-foot-display;
    color: #000!important;
    background-color: $logogreydark;
    background-repeat: repeat-x;
    background-image: url('images/grey_bg.png');
    height: 40px;
    z-index:1!important;
    width: 280px;
    position: relative;
    right: -10px;
  }
  
  .gcviz-foot-coords-values {
    margin-top: (1.5 * $rembase) + rem;
    color: #000!important;
    @include app-text;
    position: relative;
    right: -70px;
    top: -5px;
    float: right;
    width: 278px;
  }
  
  .gcviz-foot-north {
    @extend %gcviz-foot-display;
    background-image: url("images/grey_bg.png");
    height: 40px;
    z-index: 2!important;
    position: relative;
    right: 0px;
    
    .gcviz-foot-imgarrow {
      margin-top: (0.75 * $rembase) + rem;
      margin-right: (1.5 * $rembase);
      height: (2.2 * $rembase) + rem;
      width: (2.2 * $rembase) + rem;
      -webkit-transform: rotate(90deg); /* Safari & Chrome */
      -moz-transform: rotate(90deg); /* Firefox */
      -ms-transform: rotate(90deg); /* Internet Explorer */
      -o-transform: rotate(90deg); /* Opera */
    }
  }
}

.gcviz-foot-logo {
  float: left;
  margin-left: 5px;
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 35px;
}


  





