@import "compass/css3/images";

$img-root: "images/";

$font: verdana, helvetica, sans-serif;
$orange: #EFA23E;
$yellow: #FAFA0A;
$red: #EF300A;
$app-strong: #98B8CC;
$app-light: #D2EDFF;
$tb-strong: #D2EDFF;
$tb-light: #FFF;
$disabled-light: #98B8CC;
$disabled-strong: #728A99;
$text-color: #000 !default;

$base-classname: "gcviz";

@mixin app-gradiant {
  background-color: $app-strong; // old browsers
	@include background-image(linear-gradient(top,  $app-strong 0%, $app-light 100%));
}

@mixin app-gradiant-reverse {
  background-color: $app-strong; // old browsers
	@include background-image(linear-gradient(top,  $app-light 0%, $app-strong 100%));
}

@mixin button-gradiant-hover {
  @include background-image(-ms-radial-gradient(center, circle closest-corner, $yellow 0%, $orange 100%)); /* IE10 Consumer Preview */
  @include background-image(-moz-radial-gradient(center, circle closest-corner, $yellow 0%, $orange 100%)); /* Mozilla Firefox */
  @include background-image(-o-radial-gradient(center, circle closest-corner, $yellow 0%, $orange 100%)); /* Opera */ 
  @include background-image(-webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, $yellow), color-stop(1, $orange))); /* Webkit (Safari/Chrome 10) */ 
  @include background-image(-webkit-radial-gradient(center, circle closest-corner, $yellow 0%, $orange 100%)); /* Webkit (Chrome 11+) */
  @include background-image(radial-gradient(circle closest-corner at center, $yellow 0%, $orange 100%)); /* W3C Markup, IE10 Release Preview */
  background-color: $tb-light; // old browsers
}

@mixin button-gradiant-active {
  @include background-image(-ms-radial-gradient(center, circle closest-corner, $yellow 0%, $red 100%)); /* IE10 Consumer Preview */
  @include background-image(-moz-radial-gradient(center, circle closest-corner, $yellow 0%, $red 100%)); /* Mozilla Firefox */
  @include background-image(-o-radial-gradient(center, circle closest-corner, $yellow 0%, $red 100%)); /* Opera */ 
  @include background-image(-webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, $yellow), color-stop(1, $red))); /* Webkit (Safari/Chrome 10) */ 
  @include background-image(-webkit-radial-gradient(center, circle closest-corner, $yellow 0%, $red 100%)); /* Webkit (Chrome 11+) */
  @include background-image(radial-gradient(circle closest-corner at center, $yellow 0%, $red 100%)); /* W3C Markup, IE10 Release Preview */
  background-color: $tb-light; // old browsers
}

@mixin button-gradiant-disable {
	@include background-image(-ms-radial-gradient(center, circle closest-corner, $disabled-light 0%, $disabled-strong 100%)); /* IE10 Consumer Preview */
  @include background-image(-moz-radial-gradient(center, circle closest-corner, $disabled-light 0%, $disabled-strong 100%)); /* Mozilla Firefox */
  @include background-image(-o-radial-gradient(center, circle closest-corner, $disabled-light 0%, $disabled-strong 100%)); /* Opera */ 
  @include background-image(-webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, $disabled-light), color-stop(1, $disabled-strong))); /* Webkit (Safari/Chrome 10) */ 
  @include background-image(-webkit-radial-gradient(center, circle closest-corner, $disabled-light 0%, $disabled-strong 100%)); /* Webkit (Chrome 11+) */
  @include background-image(radial-gradient(circle closest-corner at center, $disabled-light 0%, $disabled-strong 100%)); /* W3C Markup, IE10 Release Preview */
  background-color: $tb-light; // old browsers
}

@mixin content-border-radius($radius: 0.5, $moz: true, $webkit: true, $ms: true, $o: true) {
	@if $moz    { -moz-border-radius: $radius + rem; }
  @if $webkit { -webkit-border-radius: $radius + rem; }
  @if $ms     { -ms-border-radius: $radius + rem; }
  @if $ms     { -o-border-radius: $radius + rem; }
  border-radius: $radius + rem;
}

@mixin app-text($size: 1.2, $weight: normal, $color: $text-color) {
	font: {
		family: $font;
		weight: $weight;
		size: ($size * 10) + px; // old browsers
		size: $size + rem;
	}
	color: $color;
}

@mixin app-border($width: 1, $style: solid, $color: #000) {
	border: {
		width: $width + rem;
		style: $style;
		color: $color;
	}	
}

@mixin toolbar-background {
	background-color: $tb-light; // old browsers
  @include background-image(linear-gradient(bottom, $tb-strong 0%, $tb-light 100%));
}
