@import "gcviz-mixin";

.gcviz-head {
	@include app-head-foot;
  background-repeat: repeat-x;
  background-image: url($img-root + "headBlackbar.png");
}

.gcviz-head-btn {
	float: right;
	margin-right:	(1 * $rembase) + rem;
}

.gcviz-head-title {
	@include app-text(1.6, bold, $white);
	position: relative;
	top: 	(1 * $rembase) + rem;
	left: 	(0.5 * $rembase) + rem;
	display: inline-block;
}

// the header button sprite (need to use background-position because FF is not able to set x and y)
.gcviz-head-help {
	@include sprite($img-spritebtn, -110, -2);
}

.gcviz-head-wcag {
	@include sprite($img-spritebtn, -182, -2);
}

.gcviz-head-wcagon {
	@include sprite($img-spritebtn, -686, -2);
}

.gcviz-head-about {
	@include sprite($img-spritebtn, -145, -2);
}

.gcviz-head-inset {
	@include sprite($img-spritebtn, -40, -2);
}

.gcviz-head-link {
	@include sprite($img-spritebtn, -75, -2);
}

.gcviz-head-print {
	@include sprite($img-spritebtn, -3, -2);
}

.gcviz-head-fs {
	@include sprite($img-spritebtn, -219, -2);
}

.gcviz-head-reg {
	@include sprite($img-spritebtn, -255, -2);
}