@import "gcviz-mixin";

%sprite {
	background: url('images/headSprite.png');
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	border: none;
	margin: (0.3 * $rembase) + rem;
	height: (3 * $rembase) + rem;
  position: relative;
  right: 7px!important;
}

.gcviz-head {
  margin: 0;
  padding: 0;
  background-position: right;
  background-repeat: repeat-x;
  z-index: 99!important;
  background-image: url('images/headBlackbar.png');
  height: 40px;
}

.gcviz-head-btn {
		float: right;
}

.gcviz-head-title {
	@include app-text-white(1.6, bold);
	position: relative;
	top: 10px;
	left: 5px;
	display: inline-block;
}

// the header button sprite (need to use background-position because FF is not able to set x and y)
.gcviz-head-help {
	@extend %sprite;
	@include sprite('images/headSprite.png', -73, 6);
	width: 22px;
}

.gcviz-head-about {
	@extend %sprite;
	@include sprite('images/headSprite.png', -98, 6);
	width: 20px;
}

.gcviz-head-inset {
	@extend %sprite;
	@include sprite('images/headSprite.png', -24, 6);
	width: 23px;
}

.gcviz-head-link {
	@extend %sprite;
	@include sprite('images/headSprite.png', -49, 6);
	width: 22px;
}

.gcviz-head-print {
	@extend %sprite;
	@include sprite('images/headSprite.png', 0, 6);
	width: 24px;
}

.gcviz-head-fs {
	@extend %sprite;
	@include sprite('images/headSprite.png', -143, 6);
	width: 25px;
}

.gcviz-head-reg {
	@extend %sprite;
	@include sprite('images/headSprite.png', -166, 6);
	width: 25px;
}