@import "gcviz-mixin";

.gcviz-help .row > [class*="span"] {
  min-height: (2 * $rembase) + rem;
  padding-top: (1 * $rembase) + rem;
}

.gcviz-help-bubble {
	margin-bottom: 0!important;
	margin-left: (0.5 * $rembase) + rem;
}

.gcviz-help-bubbledesc {
	margin-top: (0.5 * $rembase) + rem;
	@include app-text(1.2);
}

.gcviz-help {
	padding-top: (3 * $rembase) + rem;
}

.gcviz-help-tbtitle {
	@include app-text(1.4, bold, $black);
}

.gcviz-help-textbtn {
	margin-top: (1 * $rembase) + rem!important;
}
