@import "gcviz-mixin";

%gcviz-cont-inset {
	clear: both;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gcviz-inset {
	position: absolute;
	z-index: 500;
	margin: 0 auto;
	overflow: hidden;
	@include app-border($width: 0.15, $color: #D8D8D8);
	@include toolbar-background;
	@include content-border-radius(0.2);

	h2 {
		padding: (0.2 * $rembase) + rem;
		color: #000;
		margin: 0;
		width: 100%;
		@include app-text(1.2);
		@include app-gradiant;
	}
	
	.gcviz-img-inset {
		@extend %gcviz-cont-inset;
	}

	.gcviz-vid-inset {
		@extend %gcviz-cont-inset;
	}

	.gcviz-html-inset {
		@extend %gcviz-cont-inset;
	}
}

.gcviz-inset-margin {
	margin: (-0.2 * $rembase) + rem;
}

.gcviz-inset-hidden {
	visibility: hidden;
}

.gcviz-inset-button {
	cursor: pointer;
	background: transparent;
	border: none;
	height: (1.8 * $rembase) + rem;
	width: (1.8 * $rembase) + rem;
	
	.gcviz-imginset-button {
		margin: 0 !important;
		height: (1.8 * $rembase) + rem;
		width: (1.8 * $rembase) + rem;
	}
	
	&:hover {
		@include button-gradiant-hover;
		@include content-border-radius;
	}
  
	&:focus {
		@include button-gradiant-hover;
		@include content-border-radius;
	}
  
	&:active {
		@include button-gradiant-active;
		@include content-border-radius;
	}
}
/* SlidesJS section */
%slides-control {
	margin-left: (0.5 * $rembase) + rem;
	float: left;
}

#slides {
	display: none; // Prevents the slideshow from flashing on load
	
	a {
		
		&:link, &:visited {
			color: #333;
		}
		
		&:hover, &:active {
			color: #9E2020;
		}
	}
}

.slidesjs-container {
	margin-bottom: (0.5 * $rembase) + rem;
}

.slidesjs-slide {
	height: 100%;
}

.slidesjs-previous {
	@extend %slides-control;
}
.slidesjs-next {
	@extend %slides-control;
}

.slidesjs-play {
	@extend %slides-control;
}
.slidesjs-stop {
	@extend %slides-control;
}

.slidesjs-pagination {
	margin: (0.2 * $rembase) + rem (0.5 * $rembase) + rem;
	float: right;
	list-style: none;
    
	li {
		float: left;
		margin: 0 (0.1 * $rembase) + rem;

		a {
			display: block;
			width: (1.3 * $rembase) + rem;
			height: 0;
			padding-top: (1.3 * $rembase) + rem;
			background-image: url(#{$img-root}insetPagination.png);
			background-position: 0 0;
			float: left;
			overflow: hidden;
			
			&:hover.active {
				background-position: 0 -13px;
			}
			
			&:hover {
				background-position: 0 -26px;
			}
		}
		
		a.active {
				background-position: 0 -13px;
		}
	}
}
