@import "gcviz-mixin";

%gcviz-cont-inset {
	clear: both;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.gcviz-inset {
	position: absolute;
	z-index: 500;
	margin: 0 auto;
	overflow: hidden;
	@include app-border($width: 0.15, $color: #D8D8D8);
	@include toolbar-background;
	@include content-border-radius(0.2);
	
	button {
		float: right;
		margin: (0.125 * $rembase) + rem (0.4 * $rembase) + rem 0 0;
	}
	
	h2 {
		padding: 0 0 0 (0.4 * $rembase) + rem;
		color: #000;
		margin: 0;
		display: inline-block;
		@include app-text(1.2);
	}
	
	.gcviz-title {
		@include app-gradiant;
	}
	
	.gcviz-img-inset {
		@extend %gcviz-cont-inset;
	}

	.gcviz-vid-inset {
		margin: 0;
	}

	.gcviz-text-inset {
		overflow: auto;
	}
	
	.gcviz-frame-inset {
		width: 100%;
		border: 0;
	}
}

.gcviz-inset-margin {
	margin: (-0.2 * $rembase) + rem;
}

.gcviz-inset-hidden {
	visibility: hidden;
}

.gcviz-inset-button {
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0rem;
	height: (1.8 * $rembase) + rem;
	width: (1.8 * $rembase) + rem;
	
	.gcviz-imginset-button {
		margin: 0 !important;
		height: (1.8 * $rembase) + rem;
		width: (1.8 * $rembase) + rem;
	}
	
	&:hover {
		@include button-gradiant-hover;
		@include content-border-radius;
	}
  
	&:focus {
		@include button-gradiant-hover;
		@include content-border-radius;
	}
  
	&:active {
		@include button-gradiant-active;
		@include content-border-radius;
	}
}

.gcviz-play-background {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
	background-color: gray;
	
	button {
		left: 0;
		right: 0;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		height: (12 * $rembase) + rem;
		width: (12 * $rembase) + rem;
		
		img {
			margin: 0!important;
			height: (10 * $rembase) + rem;
			width: (10 * $rembase) + rem;
		}
	}
}

%gcviz-load-inset {
	z-index: 10100;
	height: inherit;
	background-color: #FFF;
	opacity: 0.8;
}

.gcviz-load-open {
	@extend %gcviz-load-inset;
	width: 80%;
	position: fixed;
}

.gcviz-load-close {
	@extend %gcviz-load-inset;
}

.gcviz-load-img {
	margin: auto;
	display:	block;
	height: inherit;
}

/* SlidesJS section */
%slides-control {
	margin-left: (0.5 * $rembase) + rem;
	float: left;
}

#slides {
	display: none; // Prevents the slideshow from flashing on load
	
	a {
		
		&:link, &:visited {
			color: #333;
		}
		
		&:hover, &:active {
			color: #9E2020;
		}
	}
}

.slidesjs-container {
	margin-bottom: (0.5 * $rembase) + rem;
}

.slidesjs-slide {
	height: 100%;
}

.slidesjs-previous {
	@extend %slides-control;
}
.slidesjs-next {
	@extend %slides-control;
}

.slidesjs-play {
	@extend %slides-control;
}
.slidesjs-stop {
	@extend %slides-control;
}

.slidesjs-pagination {
	margin: (0.2 * $rembase) + rem (0.5 * $rembase) + rem;
	float: right;
	list-style: none;
    
	li {
		float: left;
		margin: 0 (0.1 * $rembase) + rem;

		a {
			display: block;
			width: (1.3 * $rembase) + rem;
			height: 0;
			padding-top: (1.3 * $rembase) + rem;
			background-image: url(#{$img-root}insetPagination.png);
			background-position: 0 0;
			float: left;
			overflow: hidden;
			
			&:hover.active {
				background-position: 0 -13px;
			}
			
			&:hover {
				background-position: 0 -26px;
			}
		}
		
		a.active {
				background-position: 0 -13px;
		}
	}
}

/* styles inset with magnificpopup */
.mp-inset {
	background: white;
	padding: 35px 35px;
	text-align: left;
	max-width: 80%;
	max-height: 80%;
	margin: 40px auto;
	position: relative;
}

// this class equals "mainClass" JS option
.mfp-with-fade {

	// before-open state
	.mfp-content,
	.mfp-arrow,
	&.mfp-bg {
		opacity: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transition: opacity .5s ease-out; 
		-moz-transition: opacity .5s ease-out; 
		-o-transition: opacity .5s ease-out; 
		transition: opacity .5s ease-out;
	}

	// open state
	&.mfp-ready {
		.mfp-content,
		.mfp-arrow {
			opacity: 1;
		}
		&.mfp-bg {
			opacity: 0.8; // background opacity
		}
	}

	// closed state
	&.mfp-removing {
		.mfp-content,
		.mfp-arrow,
		&.mfp-bg {
			opacity: 0;
		}
	} 
}
