@import "gcviz-mixin";

$text-color: #999999;

%gcviz-light-container {
	content: "";
	display: table;
	clear: both;
}

@mixin filter-opacity($opacity) {
	filter: progid:DXImageTransform.Microsoft.Alpha($opacity * 10);
	opacity: $opacity;
}

body:after {
	content: url(#{$img-root}lightClose.png) url(#{$img-root}lightLoading.gif) url(#{$img-root}lightPrev.png) url(#{$img-root}lightNext.png);
	display: none;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	@include filter-opacity(0.8);
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	.lb-image {
		display: block;
		height: auto;
		@include content-border-radius(0.3);
	}
	a img {
		border: none;
	}
}

.lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 25rem;
	height: 25rem;
	margin: 0 auto;
	@include content-border-radius(0.4);
	&:after {
		@extend %gcviz-light-container;
	}
}

.lb-container {
	padding: 0.4rem;
}

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 3.2rem;
	height: 3.2rem;
	margin: 0 auto;
	background: url(#{$img-root}lightLoading.gif) no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: none;
}

.lb-prev, .lb-next {
	width: 49%;
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-prev {
	left: 0;
	float: left;
	&:hover {
		background: url(#{$img-root}lightPrev.png) left 48% no-repeat;
	}
}

.lb-next {
	right: 0;
	float: right;
	&:hover {
		background: url(#{$img-root}lightNext.png) right 48% no-repeat;
	}
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 0.5rem;
	*zoom: 1;
	width: 100%;
	@include content-border-radius(0.4);
	&:after {
		@extend %gcviz-light-container;
	}
}

.lb-data {
	padding: 0 0.4rem;
	.lb-details {
		width: 85%;
		float: left;
		text-align: left;
		line-height: 1.1em;
		.lb-caption {
			@include app-text($size: 1.3, $weight: bold, $color: $text-color);
			line-height: 1em;
		}
		.lb-number {
			@include app-text($size: 1.2, $color: $text-color);
			display: block;
			clear: left;
			padding-bottom: 1em;
		}
	}
	.lb-close {
		display: block;
		float: right;
		width: 3rem;
		height: 3rem;
		background: url(#{$img-root}lightClose.png) top right no-repeat;
		text-align: right;
		outline: none;
		@include filter-opacity(0.7);
		&:hover {
			cursor: pointer;
			@include filter-opacity(1);
		}
	}
}