@import "gcviz-mixin";

%lowparams {
	border: none;
	padding: 0px;
  margin: 0px;
}
.map {
  overflow: hidden;
}

.container {
  @extend %lowparams;
  overflow: hidden;
  @extend .layersDiv
}

.layersDiv {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.layerTile {
  position: absolute;
  @extend %lowparams;
}

.map {
  &.container {
    &.container {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
  &.tooltip {
    width: (10 * $rembase) + rem;
    position: absolute;
    @include app-border($width: 0.01, $color: #7EABCD);
    @include content-border-radius(0.4);
    background-color: white;
    padding: (0.5 * $rembase) + rem;
    z-index: 9999;
  }
}

.esriControlsBR {
	display: none;
}

.esriSimpleSlider {
	display: none;
}

