@import "gcviz-mixin";

%lowparams {
	border: none;
	padding: 0px;
	margin: 0px;
}

%zoomborder {
	border-color: $orange-darkborder!important;
	border-width: 1px!important;
}

%zoombar {
	top: (3 * $rembase) + rem!important;
}

.map {
	overflow: hidden;
}

.container {
	@extend %lowparams;
	overflow: hidden;
	@extend .layersDiv
}

.layersDiv {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.layerTile {
	position: absolute;
	@extend %lowparams;
}

.map {
	&.container {
		&.container {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
	}
	&.tooltip {
		width: (10 * $rembase) + rem;
		position: absolute;
		@include app-border($width: 0.01, $color: #7EABCD);
		@include content-border-radius(0.4);
		background-color: white;
		padding: (0.5 * $rembase) + rem;
		z-index: 9999;
	}
}

.esriControlsBR {
	display: none;
}

.esriSimpleSlider {
	display: none;
}

// zoom bar (override some esri class)
.gcviz-map table {
	background-color:	transparent!important;
}

.esriLargeSliderVertical {
	height: (15 * $rembase) + rem!important;
}

.esriLargeSliderTL {
	@extend %zoombar;
	left: (1.5 * $rembase) + rem!important;
}

.esriLargeSliderTR {
	@extend %zoombar;
	right: (1.05 * $rembase) + rem!important;
}

.dijitSliderProgressBarV {
	background-color: $orange-dark!important;
	@extend %zoomborder
}

.dijitSliderRemainingBarV {
	@extend %zoomborder
}

.dijitSliderBumperV {
	display: none!important;
}

// zoom full extent
%zoommax {
	@include sprite($img-spritebtn, -1012, -2);
	position: absolute!important;
	top: (4 * $rembase) + rem!important;
	z-index: 30;
}

.gcviz-map-zoommaxl {
	@extend %zoommax;
	left: (0.75 * $rembase) + rem!important;
}

.gcviz-map-zoommaxr {
	@extend %zoommax;
	right: (0.75 * $rembase) + rem!important;
}

// zoom full extent
%zoombox {
	@include sprite($img-spritebtn, -1625, -2);
	position: absolute!important;
	top: (4 * $rembase) + rem!important;
	z-index: 30;
}

.gcviz-map-zooml {
	@extend %zoombox;
	left: (0.75 * $rembase) + rem!important;
}

.gcviz-map-zoomr {
	@extend %zoombox;
	right: (0.75 * $rembase) + rem!important;
}

.gcviz-map-zoomposl {
	top: (22.5 * $rembase) + rem!important;
}

.gcviz-map-zoomposh {
	top: (7.5 * $rembase) + rem!important;
}

// to be by the help
.gcviz-map-zoommax {
	@include sprite($img-spritebtn, -1012, -2);
}

.gcviz-map-zoom {
	@include sprite($img-spritebtn, -1012, -2);
}

// hide zoom max, zoom extent and zoombar when print
@media print {
	.gcviz-map-zoommaxl, .gcviz-map-zoommaxr, .gcviz-map-zooml, .gcviz-map-zoomr, .esriLargeSlider {
		display: none!important;
	}
}

@media print {
	.gcviz-map {
		border: 2px solid black;
	}
}
