/* use the same green in the popup */
.esriPopupWrapper .titlePane {
  background-color: #063;
}
.esriPopupWrapper .contentPane {
  color: #063;
} 
/* customize the map's zoom slider */
.esriSimpleSliderVertical, .shadow {
  -webkit-box-shadow: 0 6px 6px -6px #999;
  -moz-box-shadow: 0 6px 6px -6px #999;
  box-shadow: 0 6px 6px -6px #999;
  border: none;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: none;
}
.esriSimpleSlider {
  background-color: #fff;
  color: #063;
}



