@import "includes/gcviz-mixin";

.gcviz-printDiv {
	display: table;
	width: 90%;
	border-collapse: collapse;
}

.gcviz-PrintElementGroup {
	border: none;
}

.gcviz-printRow {
	display: table-row;
	text-align: left;
	padding-bottom: (0.5 * $rembase) + rem;
}

.gcviz-printColLabel {
	@include app-text(1.1, normal, $black);
	display: table-cell;
	border: 0;
}

.gcviz-printCol {
	@extend .gcviz-printColLabel;
}

.gcviz-printLabel {
	padding-left: (1 * $rembase) + rem;
	padding-right: (1 * $rembase) + rem;
	padding-top: (0.5 * $rembase) + rem;
	padding-bottom: (0.5 * $rembase) + rem;
}

.gcviz-printParam {
	@include app-text(1.1, normal, $black);
}

