@import "gcviz-mixin";

%transparency {
	background-color: rgba(100,100,100, 0.6);
}

%tbcontent {
	padding-left: (1 * $rembase) + rem;
	padding-bottom: (1 * $rembase) + rem;
	margin-top: 0rem!important;
	z-index: 101;
	background-color: $lightyellow;
	overflow-x:	auto;

	.dijitTitlePane {
		margin: (0.5 * $rembase) + rem;
	}
}

.gcviz-tbcontainer {
  @include app-text();
  @include unselectable;
  padding-top: 0rem;
  padding-right: (1 * $rembase) + rem;
  padding-left: (1 * $rembase) + rem;
  padding-bottom: (1 * $rembase) + rem;
  position: absolute;
  z-index: 100;
  width: (34 * $rembase) + rem;
  right: 0rem;
  top: (4 * $rembase) + rem;
  @extend %transparency;
}

.gcviz-tbholder {
  overflow-y: scroll;
  @include unselectable;

  .gcviz-tbcontent {
		@extend %tbcontent;
  }
  
  .gcviz-tbcontent-leg {
    @extend %tbcontent;
		max-height: (40 * $rembase) + rem;
  }
}

.gcviz-tbspacer {
  @extend %transparency;
  height: (0.3 * $rembase) + rem;
}

.gcviz-tbseparator {
	display: inline-block;
	@include app-border(0.1, solid, $palegrey);
	height: (2 * $rembase) + rem;
	margin-right: (0.75 * $rembase) + rem;
	margin-left: (0.75 * $rembase) + rem;
}

// for FireFox
@-moz-document url-prefix() {
	.gcviz-tbseparator {
		margin-bottom: (-1.25 * $rembase) + rem;
	}
}