@import "gcviz-mixin";

.gcviz-data-add {
	@include sprite($img-spritebtn, -939, -2);
}

.gcviz-data-del {
	@include sprite($img-spritebtn, -1158, -2);
}

.gcviz-userLegendDiv {
	display: inline-block;
	padding-right: (0.5 * $rembase) + rem;
}

.gcviz-userLayersUL {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}