@import "gcviz-mixin";

.gcviz-tbmain {
	width: 100%;
	height: 4rem;
	text-align: center;
	@include app-gradiant;
	
	.gcviz-tbmain-title {
		display: inline-block;
	
	.gcviz-tbmain-titlelabel {
			margin-top: 0.5rem;
			line-height: 4rem;
			@include app-text(1.6, bold);
		}
	}
  
	.gcviz-tbmain-button {
		float: right;
		display: inline-block;
	}
}

