@import "gcviz-mixin";

.gcviz-data-textinput {
	width: 95%;
}

// buttons
.gcviz-data-add {
	@include sprite($img-spritebtn, -939, -2);
}

.gcviz-data-del {
	@include sprite($img-spritebtn, -795, -2);
	vertical-align: middle;
}

// list legend
.gcviz-data-li {
	display: inline-block;
	padding-right: (0.5 * $rembase) + rem;
}

.gcviz-data-ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.gcviz-data-item {
	display: table;
	height: (3.2 * $rembase) + rem;
}

.gcviz-data-itemchild {
	display: table-cell;
	padding-left: (0.5 * $rembase) + rem;
}