
.gcviz-tbdata-content {
  width: 1000px;
}

.gcviz-userLegendDiv  
{
	display: inline-block;
	padding-right: 5px;
}

.gcviz-userLayersUL
{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.gcviz-legendCheck
{
	display: inline-block;
}