@import "gcviz-mixin";

@mixin activeColor($x) {
  background: url($img-spritebtn) $x + px -85 + px no-repeat;
}

.gcviz-draw-row1 {
	display: table;
}

// the color picker holder
.gcviz-draw-cholder {
	display: table-cell;
	vertical-align: middle;
}

// buttons
.gcviz-draw-black {
	@include sprite($img-spritebtn, -289, -14, 2);
}

.gcviz-draw-blue {
	@include sprite($img-spritebtn, -325, -14, 2);
}

.gcviz-draw-red {
	@include sprite($img-spritebtn, -398, -14, 2);
}

.gcviz-draw-green {
	@include sprite($img-spritebtn, -362, -14, 2);
}

.gcviz-draw-yellow {
	@include sprite($img-spritebtn, -433, -14, 2);
}

.gcviz-draw-white {
	@include sprite($img-spritebtn, -469, -14, 2);
}

.gcviz-draw-arrow {
	cursor: default!important;
	width: (1.5 * $rembase) + rem!important;
	@include sprite($img-spritebtn, -505, -14, 2);
}

.gcviz-draw-pickblack {
	@include activeColor(-289);
}

.gcviz-draw-pickblue {
	@include activeColor(-325);
}

.gcviz-draw-pickred {
	@include activeColor(-398);
}

.gcviz-draw-pickgreen {
	@include activeColor(-362);
}

.gcviz-draw-pickyellow {
	@include activeColor(-433);
}

.gcviz-draw-pickwhite {
	@include activeColor(-469);
}

.gcviz-draw-line {
	@include sprite($img-spritebtn, -542, -2);
}

.gcviz-draw-text {
	@include sprite($img-spritebtn, -578, -2);
}

.gcviz-draw-length {
	@include sprite($img-spritebtn, -614, -2);
}

.gcviz-draw-area {
	@include sprite($img-spritebtn, -650, -2);
}

.gcviz-draw-del {
	@include sprite($img-spritebtn, -795, -2);
}

.gcviz-draw-delsel {
	@include sprite($img-spritebtn, -831, -2);
}

.gcviz-draw-undo {
	@include sprite($img-spritebtn, -867, -2);
}

.gcviz-draw-redo {
	@include sprite($img-spritebtn, -903, -2);
}

.gcviz-draw-imp {
	@include sprite($img-spritebtn, -939, -2);
}

.gcviz-draw-exp {
	@include sprite($img-spritebtn, -976, -2);
}

.gcviz-draw-wcagadd {
	@include sprite($img-spritebtn, -722, -2);
}

// cursors
.gcviz-select-cursor {
  cursor: crosshair;
}

.gcviz-text-cursor {
  cursor: url(#{ $img-root }drawTextCursor.cur), text;
}

.gcviz-draw-cursor-black {
  cursor: url(#{ $img-root }drawpencilblack.cur), crosshair;
}

.gcviz-draw-cursor-blue {
  cursor: url(#{ $img-root }drawpencilblue.cur), crosshair;
}

.gcviz-draw-cursor-green {
  cursor: url(#{ $img-root }drawpencilgreen.cur), crosshair;
}

.gcviz-draw-cursor-red {
  cursor: url(#{ $img-root }drawpencilred.cur), crosshair;
}

.gcviz-draw-cursor-yellow {
  cursor: url(#{ $img-root }drawpencilyellow.cur), crosshair;
}

.gcviz-draw-cursor-white {
  cursor: url(#{ $img-root }drawpencilwhite.cur), crosshair;
}

.gcviz-draw-cursor-measure {
  cursor: url(#{ $img-root }drawmeasure.cur), crosshair;
}

.gcviz-draw-cursor-erase {
  cursor: url(#{ $img-root }drawerase.cur), crosshair;
}
