@import "gcviz-mixin";

.gcviz-tbfoot {
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	@include app-gradiant-reverse;
}

%gcviz-tbfoot-display {
	display: inline;
	float: left;
	margin-left: 20px;
}
	
.gcviz-tbfoot-coords {
	color:#000;
	@include app-text(1.2, normal);
	@extend %gcviz-tbfoot-display;
}

.gcviz-tbfoot-north {
	@extend %gcviz-tbfoot-display;
	-webkit-transform: rotate(90deg); /* Safari & Chrome */
	-moz-transform: rotate(90deg); /* Firefox */
	-ms-transform: rotate(90deg); /* Internet Explorer */
	-o-transform: rotate(90deg); /* Opera */
}

.gcviz-tbfoot-imgarrow {
  margin: -4px;
  height: 22px;
  width: 22px
}
