@import "gcviz-mixin";

// Modify the font of the toolbar title
div[class*='tbdraw'] {
  font-size: 10px!important;
}

.gcviz-text-cursor {
  cursor: url(#{$img-root}drawTextCursor.cur), text;
}

.gcviz-select-cursor {
  cursor: crosshair;
}

.gcviz-draw-cursor-black {
  cursor: url(#{$img-root}drawpencilblack.cur), crosshair;
}

.gcviz-draw-cursor-blue {
  cursor: url(#{$img-root}drawpencilblue.cur), crosshair;
}

.gcviz-draw-cursor-green {
  cursor: url(#{$img-root}drawpencilgreen.cur), crosshair;
}

.gcviz-draw-cursor-red {
  cursor: url(#{$img-root}drawpencilred.cur), crosshair;
}

.gcviz-draw-cursor-yellow {
  cursor: url(#{$img-root}drawpencilyellow.cur), crosshair;
}

.gcviz-draw-cursor-white {
  cursor: url(#{$img-root}drawpencilwhite.cur), crosshair;
}

.gcviz-draw-cursor-measure {
  cursor: url(#{$img-root}drawmeasure.cur), crosshair;
}
