@import "gcviz-mixin";

%transparency {
	background-color: rgba(140,140,140,0.65);
}

%tbcontent {
	padding-left: (1 * $rembase) + rem;
	padding-bottom: (1 * $rembase) + rem;
	z-index: 101;
	background-color: $lightyellow;
	overflow:	hidden!important;
}

%tbcontainer {
	@include app-text(1.2, bold, $black);
  @include unselectable;
  padding-top: 0rem;
  padding-right: (0.3 * $rembase) + rem;
  padding-left: (0.3 * $rembase) + rem;
  padding-bottom: (0.3 * $rembase) + rem;
  position: absolute;
  z-index: 100;
  width: (34 * $rembase) + rem;
  top: (4 * $rembase) + rem;
  @extend %transparency;
}

%panel {
	display: block!important;
	border-radius: 0!important;
}

.gcviz-tbcontainer-l {
  @extend %tbcontainer;
  left: 0;
}

.gcviz-tbcontainer-r {
  @extend %tbcontainer;
  right: 0;
}

.gcviz-toolsholder {
  @include unselectable;
  background-color: rgb(140,140,140);

	.gcviz-menu {
		width: 100%!important;
		overflow:	hidden!important;
	}

	.gcviz-menu-title-r {
		background-image: url($img-root + "headGreybarMenu.png");
		margin-top: 0!important;
	}

	.gcviz-menu-title-l {
		background-image: url($img-head);
		margin-top: 0!important;
	}
	// end background image

	.gcviz-menu-title {
		@extend %panel;
	}

	.gcviz-panel-title {
		@extend %panel;
		background-color: $greyPanel;
		@include app-border(0.2, solid, $greyPanel);
		padding-left: (3.5 * $rembase) + rem!important;
		
		span {
			left: (1.3 * $rembase) + rem!important;
		}
	}

	.gcviz-menu-cont {
		padding: 0!important;
		background: transparent;
		overflow:	auto;
	}

  .gcviz-tbcontent {
		@extend %tbcontent;
  }
  
  .gcviz-tbcontent-leg {
    @extend %tbcontent;
    min-width: (30.9 * $rembase) + rem;
		overflow:	auto!important;
		white-space: nowrap;
  }
}

// separator in toolbar draw
.gcviz-tbseparator {
	display: inline-block;
	@include app-border(0.1, solid, $palegrey);
	height: (2 * $rembase) + rem;
	margin-right: (0.75 * $rembase) + rem;
	margin-left: (0.75 * $rembase) + rem;
}

// for FireFox
@-moz-document url-prefix() {
	.gcviz-tbseparator {
		margin-bottom: (-1.25 * $rembase) + rem;
	}
}

// for the gap on menu toolbar when on left side
.ui-corner-all, .ui-btn-corner-all {
	-webkit-background-clip: border-box!important;
	background-clip: border-box!important;
}