@import "includes/gcviz-mixin";

%listate {
	margin-top: (0.5 * $rembase) + rem;
  padding-left: (1.5 * $rembase) + rem;
  background-repeat: no-repeat;
}

%imgsize {
  height: (1.6 * $rembase) + rem;
  width: (1.4 * $rembase) + rem;
}

%imgsize_leg_icons {
  height: (0.9 * $rembase) + rem;
  width: (0.9 * $rembase) + rem;
  margin-top: (0.7 * $rembase) + rem;
  background-repeat: no-repeat;
}

%legspan {
	display: inline-block;
	padding-left: 0rem;
	white-space: nowrap;
}

// set disable the layer li tag when layer is out of scale
.gcviz-leg-dis {
	opacity: 0.65;
}

// ul and li
.gcviz-leg-ul {
	list-style-type: none;
	margin: 0rem;
  padding-left: 0rem;
}

.gcviz-leg-li {
	@extend %listate;
  width: (100 * $rembase) + rem;
}

.gcviz-leg-imgli {
	background-image: url("images/arrowbullet.png");
	@extend %imgsize_leg_icons;
}

.gcviz-leg-imgliopen {
  background-image: url("images/arrowbulletopen.png");
  @extend %imgsize_leg_icons;
}

.gcviz-leg-imgholder {
  @extend %imgsize;
  cursor: pointer;
}

// base and theme maps group
.gcviz-leg-theme {
  margin-top: (0.75 * $rembase) + rem;
  @include app-text(1.2, bold);
}

// item
.gcviz-legendImg {
	margin: 0rem;
	padding-top: (0.5 * $rembase) + rem;
	padding-left: (2.5 * $rembase) + rem;
}  

.gcviz-legendHolderDiv {
	display: inline-block;
	padding-right: (0.5 * $rembase) + rem;
}

.gcviz-legendHolderImgDiv {
	display: block;
	padding-right: (0.5 * $rembase) + rem;
}

.gcviz-leg-check {
	display: inline-block;
	margin-left: (0.5 * $rembase) + rem!important;
}

.gcviz-leg-slider {
	display: inline-block;
	width: (5 * $rembase) + rem;
	padding-left: 0rem;
}

// layer title define by level of deepness
.gcviz-leg-span1 {
	@extend %legspan;
	@include app-text(1.1, bold);
}

.gcviz-leg-span2 {
	@extend %legspan;
	@include app-text(1.1, normal);
}

.gcviz-leg-span3 {
	@extend %legspan;
	@include app-text(1, normal);
}

.gcviz-leg-span4 {
	@extend %legspan;
	@include app-text(1, normal);
}

.gcviz-legendSymbolDiv {
	vertical-align: middle;
	padding-left: (1.5 * $rembase) + rem;
	border: (1 * $rembase) + rem;
	@include app-text(1, normal);
}

.gcviz-leg-uniqueSymbolHolder {
	display: inline;
	vertical-align: middle;
	padding-top: 0rem;
	padding-left: (1.5 * $rembase) + rem;
}

.gcviz-leg-uniqueSpan {
	display: inline;
	padding-left: (0.5 * $rembase) + rem;
	white-space: nowrap;
}

.gcviz-leg-uniqueFieldHolder {
	display: inline-block;
	padding-right: (0.5 * $rembase) + rem;
	vertical-align: middle;
  text-align: left;
	width: (100 * $rembase) + rem;
}