@import "includes/gcviz-mixin";

%listate {
	margin-top: (0.5 * $rembase) + rem;
  padding-left: (1.5 * $rembase) + rem;
  background-repeat: no-repeat;
}

%imgsize {
  height: (1.6 * $rembase) + rem;
  width: (1.4 * $rembase) + rem;
}

%imgsize_leg_icons {
  height: (0.9 * $rembase) + rem;
  width: (0.9 * $rembase) + rem;
  background-repeat: no-repeat;
}

// set disable the layer li tag when layer is out of scale
.gcviz-leg-dis {
	opacity: 0.25;
}

// ul and li
.gcviz-leg-ul {
	list-style-type: none;
	margin: 0rem;
  padding-left: 0rem;
}

.gcviz-leg-li {
	@extend %listate;
  width: (100 * $rembase) + rem;
}

.gcviz-leg-imgli {
	background-image: url("images/arrowbullet.png");
	@extend %imgsize_leg_icons;
}

.gcviz-leg-imgliopen {
  background-image: url("images/arrowbulletopen.png");
  @extend %imgsize_leg_icons;
}

.gcviz-leg-imgholder {
  @extend %imgsize;
}

// base maps group
.gcviz-leg-baseb {
	@include app-border(0.1, solid, $lightgrey);
  @include content-border-radius();
  margin-top: (1 * $rembase) + rem;
  margin-right: (1 * $rembase) + rem;
  margin-bottom: (1 * $rembase) + rem;
  padding-bottom: (1 * $rembase) + rem;
}

.gcviz-leg-baset {
  position: relative;
  top: (-0.75 * $rembase) + rem;
  left: (1.5 * $rembase) + rem;
  background-color: $lightyellow;
}

// item
.gcviz-legendImg {
	margin: 0rem;
	padding-top: (0.5 * $rembase) + rem;
	padding-left: (2.5 * $rembase) + rem;
}  

.gcviz-legendHolderDiv {
	display: inline-block;
	padding-right: (0.5 * $rembase) + rem;
}

.gcviz-legendHolderImgDiv {
	display: block;
	padding-right: (0.5 * $rembase) + rem;
}

.gcviz-leg-check {
	display: inline-block;
	margin-left: (0.5 * $rembase) + rem!important;
}

.gcviz-leg-slider {
	display: inline-block;
	width: (5 * $rembase) + rem;
	padding-left: 0rem;
}

.gcviz-leg-span {
	display: inline-block;
	padding-left: 0rem;
	white-space: nowrap;
}

.gcviz-legendSymbolDiv {
	vertical-align: middle;
	padding-left: (1.5 * $rembase) + rem;
	border: (1 * $rembase) + rem;
}

.gcviz-leg-uniqueSymbolHolder {
	display: inline;
	vertical-align: middle;
	padding-top: 0rem;
	padding-left: (1.5 * $rembase) + rem;
}

.gcviz-leg-uniqueSpan {
	display: inline;
	padding-left: (0.5 * $rembase) + rem;
	white-space: nowrap;
}

.gcviz-leg-uniqueFieldHolder {
	display: inline-block;
	padding-right: (0.5 * $rembase) + rem;
	vertical-align: middle;
  text-align: left;
	width: (100 * $rembase) + rem;
}