@import "includes/gcviz-mixin";

.gcviz-legend-services {
  margin-left: 5px!important;
  width: 100%!important;
}

.gcviz-tbcontent-nobkg {
  background-image: none!important;
  margin-top: 0px!important;
}

.gcviz-legdiv-map {
  margin-top: 0px!important;
}

.gcviz-legend-layers {
  margin-left: 15px!important;
  margin-right: 0px!important;
}
