@import "gcviz-mixin";

.gcviz-tbmain {
	@include app-main-foot;
	@include app-gradiant;
	
	.gcviz-tbmain-title {
		display: inline-block;
		height: (4 * $rembase) + rem;
	
	.gcviz-tbmain-titlelabel {
			margin-top: (0.5 * $rembase) + rem;
			line-height: (3.5 * $rembase) + rem;
			@include app-text(1.6, bold);
		}
	}
  
	.gcviz-tbmain-button {
		float: right;
		display: inline-block;
	}
}

