@import "gcviz-mixin";

.gcviz-draw-picker {
	margin: 0rem!important;
}

.gcviz-draw-cholder {
	background: rgb(156, 147, 147);
	display: inline-block;
}

// buttons
.gcviz-draw-black {
	@include sprite($img-spritebtn, -291, -2);
}

.gcviz-draw-blue {
	@include sprite($img-spritebtn, -327, -2);
}

.gcviz-draw-red {
	@include sprite($img-spritebtn, -399, -2);
}

.gcviz-draw-green {
	@include sprite($img-spritebtn, -363, -2);
}

.gcviz-draw-yellow {
	@include sprite($img-spritebtn, -435, -2);
}

.gcviz-draw-white {
	@include sprite($img-spritebtn, -471, -2);
}

.gcviz-draw-line {
	@include sprite($img-spritebtn, -507, -2);
}

.gcviz-draw-text {
	@include sprite($img-spritebtn, -1086, -2);
}

.gcviz-draw-length {
	@include sprite($img-spritebtn, -723, -2);
}

.gcviz-draw-area {
	@include sprite($img-spritebtn, -759, -2);
}

.gcviz-draw-del {
	@include sprite($img-spritebtn, -795, -2);
}

.gcviz-draw-delsel {
	@include sprite($img-spritebtn, -831, -2);
}

.gcviz-draw-undo {
	@include sprite($img-spritebtn, -867, -2);
}

.gcviz-draw-redo {
	@include sprite($img-spritebtn, -903, -2);
}

.gcviz-draw-imp {
	@include sprite($img-spritebtn, -939, -2);
}

.gcviz-draw-exp {
	@include sprite($img-spritebtn, -976, -2);
}

// cursors
.gcviz-select-cursor {
  cursor: crosshair;
}

.gcviz-text-cursor {
  cursor: url(#{ $img-root }drawTextCursor.cur), text;
}

.gcviz-draw-cursor-black {
  cursor: url(#{ $img-root }drawpencilblack.cur), crosshair;
}

.gcviz-draw-cursor-blue {
  cursor: url(#{ $img-root }drawpencilblue.cur), crosshair;
}

.gcviz-draw-cursor-green {
  cursor: url(#{ $img-root }drawpencilgreen.cur), crosshair;
}

.gcviz-draw-cursor-red {
  cursor: url(#{ $img-root }drawpencilred.cur), crosshair;
}

.gcviz-draw-cursor-yellow {
  cursor: url(#{ $img-root }drawpencilyellow.cur), crosshair;
}

.gcviz-draw-cursor-white {
  cursor: url(#{ $img-root }drawpencilwhite.cur), crosshair;
}

.gcviz-draw-cursor-measure {
  cursor: url(#{ $img-root }drawmeasure.cur), crosshair;
}

.gcviz-draw-cursor-erase {
  cursor: url(#{ $img-root }drawerase.cur), crosshair;
}
